.container {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}

.toolbar {
    display: flex;
    background-color: #035826;
    justify-content: space-between;
}

.icon {
    width: 50px;
    margin: 0.5rem 1rem 0.5rem 0rem;
}

.logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}