[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
opencv-python = "*"
matplotlib = "*"
tensorflow = "*"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.8"

[scripts]
get_image_ids = "python scripts/save_image_ids.py"
download_images = "python scripts/downloader.py 'data/image_ids.txt' --download_folder='data/images/lion' --num_processes=5"

train_model = "python scripts/train_model.py"

deploy_lambda_image = "./scripts/deploy_lambda_image.sh"

deploy_lambda = "serverless deploy"