.login {
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.formfield .MuiTextField-root {
    width: 100%;
}

.formfield .MuiButton-contained {
    background-color: #6200ea;
    color: white;
    transition: background-color 0.3s ease;
    width: 100%;
}

.formfield .MuiButton-contained:hover {
    background-color: #3700b3;
}

@media (max-width: 600px) {
    .login {
        width: 90%;
        padding: 20px;
    }
}
